

.utb-list{
    list-style: none;
    margin: 2rem 0;
    padding: 0;
    color: rgb(9, 161, 34);
    font-weight: lighter;
    font-weight: bolder;
}

.utb-list li {
    margin: 1rem 0;
    border: 1px solid #ccc;
    padding: 1rem;
}